.timeSelector {
  display: flex;
  gap: 0.5rem;
}

.timeOption {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem;

  &.active {
    color: var(--selected-setting);
  }

  &:hover {
    color: var(--correct-character);
  }
}