.timeSelectorContainer {
  display: flex;
  justify-content: center;
  background-color: #2c2e31;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 200px;
}

.timeOption {
  background: none;
  border: none;
  color: #646669;
  font-size: 0.9rem;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #d1d0c5;
  }

  &.active {
    color: #e2b714;
  }
}