.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  padding: 50px;
}

.message {
  color: var(--correct-character);
  padding: 20px;
  border-radius: 5px;
  font-size: 32px;
  cursor: pointer;
}

.cursorIcon {
    font-size: 32px;
    color: var(--correct-character);
}