.textContainer {
    width: 100%;
    height: 600px;
    overflow-y: auto;
    outline: none;
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: monospace;
    color: var(--text-color);
}

.textStyle {
    .correct {
        color: var(--correct-character);
    }

    .incorrect {
        color: var(--incorrect-character);
    }

    .current {
        position: relative;

        &::after {
            content: '|';
            color: var(--selected-setting);
            position: absolute;
            animation: blink 1s infinite;
            left: -50%;
        }
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}