.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.title {
    font-size: 1.5rem;
    color: var(--correct-character);
    cursor: pointer;
}

.contentArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.gameAreaWrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 5px;
}

.timer {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--selected-setting);
    transition: opacity 0.3s ease;
}

.timerHidden {
    opacity: 0;
}

.restartButton {
    display: block;
    margin: 1rem auto 0;
    background-color: var(--selected-setting);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--selected-setting);
    }
}

