.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.iconWithLink {
  display: flex;
  align-items: center;
}

.link {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--a-hover);
  }
}

.linkIcon {
  font-size: 18px;
}